body {
    font-family: Arial, sans-serif;
    background-color: lemonchiffon;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    background: white;
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 5px  5px 5px 10px orange;
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid red;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 90%;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: rgb(72, 173, 72);
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}